@font-face {
  font-family: primary-font;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 1 999;
}

:root {
  --main-background-color: #f0e7e7;
  --primary-color: #b91c1c;
  --off-white-color: #fffffc;
  --page-fonts: primary-font, sans-serif;
  --section-shadow: 0 0.2rem 0.4rem #c5c5c5;
  font-size: calc(5px + 0.4vh + 0.4vw);
}

body {
  background: var(--main-background-color);
  min-height: 100vh;
  display: grid;
  grid: "sidebar main-header" max-content
        "sidebar main" 1fr / 1fr 4fr;
  font-family: var(--page-fonts);
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

#sidebar {
  background-color: var(--primary-color);
  color: var(--off-white-color);
  grid-area: sidebar;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.2rem 0.6rem;
  align-content: start;
  align-items: end;
  padding: 1.2rem 4rem 0 1.2rem;
}
#sidebar #sidebar-logo {
  width: 3rem;
}

#sidebar h1, #sidebar #sidebar-logo {
  align-self: center;
}

#sidebar img {
  justify-self: center;
  width: 1.4rem;
  cursor: pointer;
}

#sidebar #home-icon {
  width: 1.6rem;
}

#sidebar a {
  color: var(--off-white-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 550;
}

.menu-start {
  margin-top: 1.5rem;
}

.menu-end {
  margin-bottom: 2rem;
}

#main-header {
  background-color: var(--off-white-color);
  grid-area: main-header;
  display: grid;
  padding: 1rem 4rem 0 2rem;
  box-shadow: var(--section-shadow);
}

#topbar, #opener {
  display: grid;
  grid: max-content / max-content auto;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 1.2rem;
}

#topbar {
  margin-bottom: 2rem;
}

#topbar img {
  width: 1.5rem;
  cursor: pointer;
}

.profile-picture {
  border-radius: 100%;
}

#topbar .profile-picture {
  width: 2.5rem;
  margin: 0 0.25rem;
}

#search-bar {
  background-color: var(--main-background-color);
  border: none;
  border-radius: 1.75rem;
  height: 1.75rem;
  width: 35rem;
  padding-left: 0.75rem;
}

#topbar h3 {
  margin: 0;
  font-weight: 600;
}

#opener {
  margin-bottom: 1rem;
}

#opener h5 {
  margin: 0 0 0.25rem 0;
  font-size: 0.9rem;
  font-weight: 650;
}

#opener .profile-picture {
  width: 4rem;
}

#opener button {
  margin: 0.25rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  color: var(--off-white-color);
  font-weight: 550;
  cursor: pointer;
}

main {
  grid-area: main;
  display: grid;
  gap: 1rem;
  grid: "projects announcements" 1fr
        "projects trending" 1fr / 3fr 1fr;
  margin: 1rem;
}

#projects, #announcements, #trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

#projects {
  grid-area: projects;
}

#project-preview, #announcement-preview, #trending-preview {
  display: grid;
  grid-auto-rows: minmax(min-content, 1fr);
}

#announcement-preview, #trending-preview {
  background-color: var(--off-white-color);
  padding: 1rem;
}

#project-preview {
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

article {
  background-color: var(--off-white-color);
}

#announcements {
  grid-area: announcements;
}

#trending {
  grid-area: trending;
}

#trending-preview {
  grid-template-columns: auto auto;
}

#trending img {
  grid-row-end: span 2;
}

#trending p {
  margin: 0;
}

